* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-color: #212529;
  display: flex;
  justify-content: space-between;
}
header > img {
  height: 20vh;
}
main {
  background-color: #95abc373;
}
h1 {
  align-self: center;
  text-align: center;
  font-size: 10vh;
  color: aliceblue;
}
.nav-bar{
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}
.nav-bar a {
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  background-color: #95ABC3;
  color: white;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.011);
  margin-left: 5px;
}

a[href="#"] {
  background-color: rgba(21, 35, 43, 0.831);
  color: aliceblue;
}
.main-content{
  display: flex;
  justify-content: space-around;
}
.main-content section,aside{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
aside img{
  height: 30vh;
  width: 30vh;
  object-fit:cover;
}

footer{
  background-color: #95abc3;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}
footer>p{
  color: #070a0d;
}
.socials img{
  height: 1rem;
}